body, html, main{
  height: 100%;
}

#main-header>.center {
  padding-left: 13%;
  padding-right: 13%;
  padding-bottom: 50px;
}

p {
  color: rgb(125, 125, 125);
  font-family: helvetica;
}

.address {
  margin-top: 20px;
}

.address p {
  font-family: "Microsoft Sans Serif";
  font-size: small;
}

.banner {
  margin-top: 10px;
  /* margin-bottom: 50px; */
  font-family: Arial;
  color: rgb(188, 155, 93);
  position: relative;
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}

.nav-main {
  border: 2px;
  border-color: black;
}

.nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid rgb(236, 236, 236);
  text-align: center;
}

.nav-main ul li {
  display: inline;
}

.nav-main ul li a {
  display: inline-block;
  color:  rgb(125, 125, 125);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  text-decoration: none;
  font-family: "Microsoft Sans Serif";

}

.content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 30px;
  /* position: absolute; */
}

.flexbox {
  column-count: 2;
  -moz-column-count: 2;
  column-gap: 0px;
  /* break-inside: avoid-column; */
  height: 1280px;
}

.image-wrap {
  padding: 20px;
  /* margin: 20px; */
}

.image-wrap img {
  width: 100%;
}

.text-wrap {
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding: 20px;
}

#image1 {
  margin-top: 70px;
  /* left: 10px; */
  /* float: left; */
}

#text1 {
  padding: 10px;
  padding-left: 30px;
  margin-bottom: 70px;
  width: 400px;
  /* left: 50%; */
  /* float: right; */
}

#image2 {
  /* float: right; */
  /* left: 50%; */
}

#image3 {
  /* float: left; */
  /* left: 10px; */
}

#image4 {
  /* float: right; */
  /* left: 50%; */
}

#text2 {
  /* float: left; */
  /* padding:  */
  width: 360px;
  /* left: 10px; */
}

.text-heading {
  font-size: 36px;
  color: rgb(188, 155, 93);
  font-family: "Baskerville Regular";
  font-style: italic;
  /* font-weight: bold; */
  margin-top: 10px;
  margin-bottom: 18px;
}

.text-paragraph {
  margin: 0;
  font-family: arial;
  font-size: 18px;
}

#text1 .text-heading {
  width: 320px;
}

#text2 .text-paragraph {
  width: 320px;
}

.capital {
  /* font-family: helvetica; */
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0px;
}

.read-more > a {
  text-decoration: none;
  color: black;
}

.order-wrap {
  display: flex;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
}

.order-wrap > img {
  margin: auto;
  display: block;
}

.white_block {
  top: 50%;
  left: 50%;
  height: 150px;
  width: 390px;
  margin-top: -75px;
  margin-left: -195px;
  background-color: white;
  position: absolute;
  text-align: center;
  display: flex;
}

.order-online {
  font-size: 36px;
  font-family: Baskerville;
  /* color: black; */
  margin-top: 5px;
  margin-bottom: 0px;
}

.white_block .text-wrap {
  margin: auto;
}

.fixed_bg {
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bg1 {
  min-height: 53%;
  background-size: 160% 100%;
  background-image: url("../img/image6.jpg");
}

.bg2 {
  background-image: url("../img/image5.jpg");
}

.url {
  text-align: center;
  margin: auto;
}

.slogan {
  text-align: center;
  /* width: 800px; */
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  margin-bottom: 50px;

}

footer {
  background-color: rgb(188, 155, 93);
  padding-top: 50px;
  padding-bottom: 100px;
}

.licence p{
  color: white;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}

.licence {
  margin-left: 70%;
  /* padding-top: 50px; */
  position: relative;
}
