<div id="favorite" *ngIf="showFavorite">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Category</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Favorite</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let favrow of favorites; index as i">
        <th scope="row">
          {{i+1}}
        </th>
        <td>
          <img src={{favrow.icon}} alt="icon" class="category-icon">
        </td>
        <td>{{favrow.name}}</td>
        <td>{{favrow.vicinity}}</td>
        <td>
          <button type="button" class="btn btn-light">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-light" (click)="getDetails(i)">
            <i class="fas fa-angle-right"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="pagination-fav" *ngIf="nextPage">
    <button class="btn btn-outline-secondary" (click)="getNextPage()">Next</button>
  </div>
</div>
